.modal[b-3goe94oikv] {
    background: transparent;
}

.modal-content[b-3goe94oikv] {
    border: 0;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .3);
}

.modal-backdrop[b-3goe94oikv] {
    background-color: #000;
}
